<div class = "mainBody">

 <div class="header">
  <h1>
   КАЛЕНДАРНИЙ ПЛАН<br>
   спортивно-масових та спортивних заходів
   Комітету з фізичного виховання та спорту
   Міністерства освіти і науки України
  </h1>
 </div>

 <div [style.height] = "'200px'">
  <div class = "forFilter">
   <app-filter></app-filter>
  </div>

  <div class = "forCalendar">
   <p>Тут буде розміщено календар спортивних
    заходів та спортивно-масових Комітету з
    фізиного виховання та спорту міністерства
    освіти і науки України
   </p>
  </div>

   <div class = "forCreator">
    <app-event-creator-form></app-event-creator-form>
   </div>
 </div>

 <div class = "footer">
  <h5>
   Наші контакти:
  </h5>
 </div>

</div>
